In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests

# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Lata,PT,2022-09-28 02:01:17,40.1629,-8.3327,54.91,98,44,1.79
1,1,Lakes Entrance,AU,2022-09-28 02:01:18,-37.8811,147.9810,58.15,90,66,10.07
2,2,Vaini,TO,2022-09-28 02:01:18,-21.2000,-175.2000,74.61,83,0,10.78
3,3,Punta Arenas,CL,2022-09-28 01:59:45,-53.1500,-70.9167,42.91,75,0,12.66
4,4,Longyearbyen,SJ,2022-09-28 02:01:19,78.2186,15.6401,33.64,93,20,2.30

In [3]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [7]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [9]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [20]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]

# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]

# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.75)

# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=250, point_radius=3)

# Add the heatmap layer.
fig.add_layer(heat_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [22]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.75)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [25]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.75)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=250, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [26]:
# Heatmap of wind
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.75)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=250, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [27]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [28]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
5,5,Ambon,ID,2022-09-28 02:01:20,-3.6954,128.1814,87.94,70,40,4.61
7,7,Sao Filipe,CV,2022-09-28 02:01:22,14.8961,-24.4956,78.22,73,42,6.62
8,8,Kapaa,US,2022-09-28 02:01:23,22.0752,-159.3190,84.18,69,12,4.00
9,9,Kavieng,PG,2022-09-28 02:01:24,-2.5744,150.7967,84.97,63,88,14.34
12,12,Hithadhoo,MV,2022-09-28 02:01:26,-0.6000,73.0833,76.59,91,100,16.62
13,13,Butaritari,KI,2022-09-28 02:01:27,3.0707,172.7902,81.84,75,57,15.70
14,14,Faanui,PF,2022-09-28 02:01:27,-16.4833,-151.7500,78.94,72,9,13.65
15,15,Ranau,MY,2022-09-28 02:01:28,5.9538,116.6641,82.18,59,82,1.32
18,18,Sibolga,ID,2022-09-28 02:01:30,1.7427,98.7792,77.72,85,100,1.90
21,21,Karratha,AU,2022-09-28 02:01:32,-20.7377,116.8463,83.86,24,6,14.97

In [29]:
preferred_cities_df.count()

City_ID       175
City          175
Country       175
Date          175
Lat           175
Lng           175
Max Temp      175
Humidity      175
Cloudiness    175
Wind Speed    175
dtype: int64

In [30]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

          City Country  Max Temp      Lat       Lng Hotel Name
5        Ambon      ID     87.94  -3.6954  128.1814
7   Sao Filipe      CV     78.22  14.8961  -24.4956
8        Kapaa      US     84.18  22.0752 -159.3190
9      Kavieng      PG     84.97  -2.5744  150.7967
12   Hithadhoo      MV     76.59  -0.6000   73.0833
13  Butaritari      KI     81.84   3.0707  172.7902
14      Faanui      PF     78.94 -16.4833 -151.7500
15       Ranau      MY     82.18   5.9538  116.6641
18     Sibolga      ID     77.72   1.7427   98.7792
21    Karratha      AU     83.86 -20.7377  116.8463

In [31]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key}

In [35]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    
    # Grab the first hotel from the results and store the name.
try:
    hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
except (IndexError):
    print("Hotel not found... skipping.")

In [36]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
5,Ambon,ID,87.94,-3.6954,128.1814,Swiss-Belhotel Ambon
7,Sao Filipe,CV,78.22,14.8961,-24.4956,Hotel Xaguate
8,Kapaa,US,84.18,22.0752,-159.3190,Sheraton Kauai Coconut Beach Resort
9,Kavieng,PG,84.97,-2.5744,150.7967,Nusa Island Retreat
12,Hithadhoo,MV,76.59,-0.6000,73.0833,Scoop Guest House
13,Butaritari,KI,81.84,3.0707,172.7902,Isles Sunset Lodge
14,Faanui,PF,78.94,-16.4833,-151.7500,Bora-Bora Pearl Beach Resort & Spa
15,Ranau,MY,82.18,5.9538,116.6641,The Second Room
18,Sibolga,ID,77.72,1.7427,98.7792,Hotel Syariah CN Darussalam
21,Karratha,AU,83.86,-20.7377,116.8463,ibis Styles Karratha

In [39]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.75)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [40]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

In [41]:
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [42]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))