# Deliverable 2. Create a Customer Travel Destinations Map.
----
1. Create a folder called `Vacation_Search` to save all the files related with this deliverable.

2. Download the `Vacation_Search_starter_code.ipynb` Jupyter notebook,save it into your `Vacation_Search folder`, and rename it as `Vacation_Search.ipynb`.

3. In the `Vacation_Search.ipynb` file, ensure that the dependencies and the Google API key is imported correctly.

4. From the `Weather_Database` folder you created in the "Deliverable 1," import the `WeatherPy_Database.csv` file as a Pandas DataFrame named `city_data_df`.

5. Write two input statements that prompt the user to enter their minimum and maximum temperature criteria for their vacation.

6. Create a new Pandas DataFrame by using the `loc` Pandas method to filter the `city_data_df` DataFrame for temperature criteria  collected. Name the DataFrame as `preferred_cities_df`.

7. Create a new Pandas DataFrame named `clean_travel_cities` by using the Pandas `dropna` function on the `preferred_cities_df` to drop any empty rows.

8. Use the `copy` Pandas function to create a new DataFrame, called `hotel_df`, by copying the following columns from the `clean_travel_cities` DataFrame: "City", "Country", "Max Temp", "Current Description", "Lat", "Lng".

9. Add a new empty column named `Hotel Name` to the `hotel_df` DataFrame.

10. Review the hotel search parameters provided. These parameters are the same we used in this module; you'll use them to search for a hotel for each city.

11. Use a for loop to iterate through the `hotel_df` DataFrame, retrieve the latitude and longitude of each city to find the nearest hotel based on the search parameters provided, then add the hotel name to the `hotel_df` DataFrame. If a hotel isn't found, skip to the next city.

12. Drop any rows in the `hotel_df` DataFrame where a hotel name is not found and store the resulting data into a new DataFrame named `clean_hotel_df`.

13. Create an CSV file to store the `clean_hotel_df` DataFrame as `WeatherPy_vacation.csv` in the Vacation_Search folder.

14. Review the formatting template provided that you'll use to add an information box to each marker in the map. In the pop-up for each city you'll add:

    1. The city name.

    2. The country code.

    3. The weather description and maximum temperature for the city.

15. Review the provided list comprehension code to retrieve the city data from each row, which will then be added to the formatting template and saved in the `hotel_info` list.

16. Use the provided code snippet to retrieve the latitude and longitude from each row and store them in a new DataFrame called `locations`.

17. Refactor your previous marker layer map code to create a marker layer map that will have pop-up markers for each city on the map.

18. Take a screenshot of your map and save it to the `Vacation_Search` folder as `WeatherPy_vacation_map.png`.
---

## Ensure that the dependencies and the Google API key is imported correctly.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import Google API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

## From the `Weather_Database` folder you created in the "Deliverable 1," import the `WeatherPy_Database.csv` file as a Pandas DataFrame.

In [2]:
# Set the file path to import the WeatherPy_database.csv file
file_path = "../Weather_Database/WeatherPy_Database.csv"

In [3]:
# Load the CSV file into a Pandas DataFrame
city_data_df = pd.read_csv("../../Weather_Database/WeatherPy_Database.csv")

# Display sample data
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Mataura,NZ,-46.1927,168.8643,33.28,99,9,1.52,clear sky
1,1,Lasa,IT,46.6166,10.7002,56.70,68,93,2.77,overcast clouds
2,2,Pevek,RU,69.7008,170.3133,33.80,80,100,4.88,overcast clouds
3,3,Butaritari,KI,3.0707,172.7902,81.59,75,100,13.65,light rain
4,4,Kapaa,US,22.0752,-159.3190,76.98,93,75,8.05,moderate rain

## Write two input statements that prompt the user to enter their minimum and maximum temperature criteria for their vacation.

In [4]:
# Prompt the user to enter the minimum temperature criteria
min_temp = float(input("What is the minimum temperature you would like for your trip? "))

# Prompt the user to enter the maximum temperature criteria
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

## Create a new Pandas DataFrame by using the `loc` Pandas method to filter the `city_data_df` DataFrame for temperature criteria  collected.

In [5]:
# Filter the city_data_df DataFrame to find the cities that fit the criteria using the loc Pandas function
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
                                    
# Display sample data
preferred_cities_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
3,3,Butaritari,KI,3.0707,172.7902,81.59,75,100,13.65,light rain
4,4,Kapaa,US,22.0752,-159.3190,76.98,93,75,8.05,moderate rain
22,22,Mundo Nuevo,MX,18.7000,-95.5000,78.22,70,82,8.03,broken clouds
25,25,Turayf,SA,31.6725,38.6637,87.64,19,0,12.82,clear sky
29,29,Ca Mau,VN,9.1769,105.1500,78.21,88,100,4.16,overcast clouds
34,34,Chimoio,MZ,-19.1164,33.4833,85.86,25,0,9.22,clear sky
42,42,Hilo,US,19.7297,-155.0900,78.28,68,0,8.05,clear sky
50,50,Gushikawa,JP,26.3544,127.8686,81.63,88,0,3.44,clear sky
52,52,Sur,OM,22.5667,59.5289,85.68,62,1,8.93,clear sky
54,54,Bengkulu,ID,-3.8004,102.2655,77.29,89,100,2.21,moderate rain

## Create a new Pandas DataFrame named `clean_travel_cities` by using the Pandas `dropna` function on the `preferred_cities_df` to drop any empty rows.

In [6]:
# Drop any empty rows in the preferred_cities_df DataFrame and create a new DataFrame.
clean_travel_cities = preferred_cities_df.dropna()

# Display sample data
clean_travel_cities.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
3,3,Butaritari,KI,3.0707,172.7902,81.59,75,100,13.65,light rain
4,4,Kapaa,US,22.0752,-159.3190,76.98,93,75,8.05,moderate rain
22,22,Mundo Nuevo,MX,18.7000,-95.5000,78.22,70,82,8.03,broken clouds
25,25,Turayf,SA,31.6725,38.6637,87.64,19,0,12.82,clear sky
29,29,Ca Mau,VN,9.1769,105.1500,78.21,88,100,4.16,overcast clouds

## Use the `copy` Pandas function to create a new DataFrame, called `hotel_df`, by copying the following columns from the `clean_travel_cities` DataFrame: "City", "Country", "Max Temp", "Current Description", "Lat", "Lng".

In [7]:
# Create DataFrame called hotel_df by copying some columns from the clean_travel_cities DataFrame.
hotel_df = clean_travel_cities[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# Display sample data
hotel_df.head(10)

           City Country  Max Temp Current Description      Lat       Lng
3    Butaritari      KI     81.59          light rain   3.0707  172.7902
4         Kapaa      US     76.98       moderate rain  22.0752 -159.3190
22  Mundo Nuevo      MX     78.22       broken clouds  18.7000  -95.5000
25       Turayf      SA     87.64           clear sky  31.6725   38.6637
29       Ca Mau      VN     78.21     overcast clouds   9.1769  105.1500
34      Chimoio      MZ     85.86           clear sky -19.1164   33.4833
42         Hilo      US     78.28           clear sky  19.7297 -155.0900
50    Gushikawa      JP     81.63           clear sky  26.3544  127.8686
52          Sur      OM     85.68           clear sky  22.5667   59.5289
54     Bengkulu      ID     77.29       moderate rain  -3.8004  102.2655

## Add a new empty column named `Hotel Name` to the `hotel_df` DataFrame.

In [8]:
# Add a new empty column, "Hotel Name", to the hotel_df DataFrame
hotel_df["Hotel Name"] = ""

# Display sample data
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
3,Butaritari,KI,81.59,light rain,3.0707,172.7902,
4,Kapaa,US,76.98,moderate rain,22.0752,-159.3190,
22,Mundo Nuevo,MX,78.22,broken clouds,18.7000,-95.5000,
25,Turayf,SA,87.64,clear sky,31.6725,38.6637,
29,Ca Mau,VN,78.21,overcast clouds,9.1769,105.1500,
34,Chimoio,MZ,85.86,clear sky,-19.1164,33.4833,
42,Hilo,US,78.28,clear sky,19.7297,-155.0900,
50,Gushikawa,JP,81.63,clear sky,26.3544,127.8686,
52,Sur,OM,85.68,clear sky,22.5667,59.5289,
54,Bengkulu,ID,77.29,moderate rain,-3.8004,102.2655,

## Review the hotel search parameters provided. These parameters are the same we used in this module; you'll use them to search for a hotel for each city.

In [9]:
# Review the parameters to search for a hotel
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

## Use a for loop to iterate through the `hotel_df` DataFrame, retrieve the latitude and longitude of each city to find the nearest hotel based on the search parameters provided, then add the hotel name to the `hotel_df` DataFrame. If a hotel isn't found, skip to the next city.

In [10]:
# Iterate through the hotel DataFrame 
for index, row in hotel_df.iterrows():
    # Fetch latitude and longitude from the DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    
    # Add the latitude and longitude as parameters to the params dictionary
    params["location"] = f"{lat},{lng}"
    
    # Set up the base URL for the Google Directions API to get JSON data
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # Make an API request and retrieve the JSON data from the hotel search
    hotels = requests.get(base_url, params=params).json()
    
    # Get the first hotel from the results and store the name, if a hotel isn't found skip the city
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [11]:
# Display sample data
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
3,Butaritari,KI,81.59,light rain,3.0707,172.7902,Isles Sunset Lodge
4,Kapaa,US,76.98,moderate rain,22.0752,-159.3190,Sheraton Kauai Coconut Beach Resort
22,Mundo Nuevo,MX,78.22,broken clouds,18.7000,-95.5000,
25,Turayf,SA,87.64,clear sky,31.6725,38.6637,Al Mudawah Hotel
29,Ca Mau,VN,78.21,overcast clouds,9.1769,105.1500,Mường Thanh Luxury Cà Mau Hotel
34,Chimoio,MZ,85.86,clear sky,-19.1164,33.4833,Predio Livraria Ahmed
42,Hilo,US,78.28,clear sky,19.7297,-155.0900,Hilo Hawaiian Hotel
50,Gushikawa,JP,81.63,clear sky,26.3544,127.8686,Kirari Guest House
52,Sur,OM,85.68,clear sky,22.5667,59.5289,Sur Plaza Hotel
54,Bengkulu,ID,77.29,moderate rain,-3.8004,102.2655,Grage Hotel Bengkulu

## Drop any rows in the `hotel_df` DataFrame where a hotel name is not found and store the resulting data into a new DataFrame named `clean_hotel_df`.

In [16]:
# Drop the rows where there is no Hotel Name.
clean_hotel_df = hotel_df.loc[hotel_df["Hotel Name"] !=""]

# Display sample data
clean_hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
3,Butaritari,KI,81.59,light rain,3.0707,172.7902,Isles Sunset Lodge
4,Kapaa,US,76.98,moderate rain,22.0752,-159.3190,Sheraton Kauai Coconut Beach Resort
25,Turayf,SA,87.64,clear sky,31.6725,38.6637,Al Mudawah Hotel
29,Ca Mau,VN,78.21,overcast clouds,9.1769,105.1500,Mường Thanh Luxury Cà Mau Hotel
34,Chimoio,MZ,85.86,clear sky,-19.1164,33.4833,Predio Livraria Ahmed
42,Hilo,US,78.28,clear sky,19.7297,-155.0900,Hilo Hawaiian Hotel
50,Gushikawa,JP,81.63,clear sky,26.3544,127.8686,Kirari Guest House
52,Sur,OM,85.68,clear sky,22.5667,59.5289,Sur Plaza Hotel
54,Bengkulu,ID,77.29,moderate rain,-3.8004,102.2655,Grage Hotel Bengkulu
58,Les Cayes,HT,83.68,overcast clouds,18.2000,-73.7500,Villa Orphee

**Note:** If the resulting DataFrame is empty, uncomment the following code to load sample data into the `clean_hotel_df`.

In [18]:
# In case of an empty DataFrame, load the sample data provided
#clean_hotel_df = pd.read_csv("./../Weather_Database/WeatherPy_vacation-backup.csv")
#clean_hotel_df.head(10)

## Create an CSV file to store the `clean_hotel_df` DataFrame as `WeatherPy_vacation.csv` in the Vacation_Search folder.

In [20]:
# Set the output file name
output_data_file = "WeatherPy_vacation.csv"

# Export the city_data DataFrame into a CSV file
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

### Review the formatting template provided that you'll use to add an information box to each marker in the map.

In the pop-up for each city you'll add: 

1. The city name

2. The country code

3. The weather description and maximum temperature for the city

In [21]:
# Review the formatting template provided
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} °F</dd>
</dl>
"""

## Review the provided list comprehension code to retrieve the city data from each row, which will then be added to the formatting template and saved in the `hotel_info` list.

In [22]:
# Get the data from each row in the clean_hotel_df DataFrame, add it to the formatting template, and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# Display sample data
hotel_info[:10]

['\n<dl>\n<dt>Hotel Name</dt><dd>Isles Sunset Lodge</dd>\n<dt>City</dt><dd>Butaritari</dd>\n<dt>Country</dt><dd>KI</dd>\n<dt>Current Weather</dt><dd>light rain and 81.59 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Sheraton Kauai Coconut Beach Resort</dd>\n<dt>City</dt><dd>Kapaa</dd>\n<dt>Country</dt><dd>US</dd>\n<dt>Current Weather</dt><dd>moderate rain and 76.98 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Al Mudawah Hotel</dd>\n<dt>City</dt><dd>Turayf</dd>\n<dt>Country</dt><dd>SA</dd>\n<dt>Current Weather</dt><dd>clear sky and 87.64 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Mường Thanh Luxury Cà Mau Hotel</dd>\n<dt>City</dt><dd>Ca Mau</dd>\n<dt>Country</dt><dd>VN</dd>\n<dt>Current Weather</dt><dd>overcast clouds and 78.21 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Predio Livraria Ahmed</dd>\n<dt>City</dt><dd>Chimoio</dd>\n<dt>Country</dt><dd>MZ</dd>\n<dt>Current Weather</dt><dd>clear sky and 85.86 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Hilo Hawaiian Hotel</dd>\n<dt>City</dt><dd>Hilo</dd>\n<dt>Country</dt><dd>US</dd>\n<dt>Current Weather</dt><dd>clear sky and 78.28 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Kirari Guest House</dd>\n<dt>City</dt><dd>Gushikawa</dd>\n<dt>Country</dt><dd>JP</dd>\n<dt>Current Weather</dt><dd>clear sky and 81.63 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Sur Plaza Hotel</dd>\n<dt>City</dt><dd>Sur</dd>\n<dt>Country</dt><dd>OM</dd>\n<dt>Current Weather</dt><dd>clear sky and 85.68 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Grage Hotel Bengkulu</dd>\n<dt>City</dt><dd>Bengkulu</dd>\n<dt>Country</dt><dd>ID</dd>\n<dt>Current Weather</dt><dd>moderate rain and 77.29 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Villa Orphee</dd>\n<dt>City</dt><dd>Les Cayes</dd>\n<dt>Country</dt><dd>HT</dd>\n<dt>Current Weather</dt><dd>overcast clouds and 83.68 °F</dd>\n</dl>\n']

## Use the provided code snippet to retrieve the latitude and longitude from each row and store them in a new DataFrame called `locations`.

In [23]:
# Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

# Display sample data
locations.head(10)

        Lat       Lng
3    3.0707  172.7902
4   22.0752 -159.3190
25  31.6725   38.6637
29   9.1769  105.1500
34 -19.1164   33.4833
42  19.7297 -155.0900
50  26.3544  127.8686
52  22.5667   59.5289
54  -3.8004  102.2655
58  18.2000  -73.7500

## Refactor your previous marker layer map code to create a marker layer map that will have pop-up markers for each city on the map.

In [27]:
# Add a marker layer for each city to the map. 
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)

# Create a figure to add the Google map as a layer
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
fig.add_layer(marker_layer)

# Display the figure containing the map
fig

Figure(layout=FigureLayout(height='420px'))